@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Satisfy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --purple: #e600e6;
  --hover-purple: #ff66ff;
  --grey: #444444;
  --grey-dark: #3b434a;
  --bg-grey: #eef0f2;
  --black: rgba(25, 28, 31, 0.8);
  --bg-black: rgba(0, 0, 0, 0.65);
  --dark-black: #111;
  --white: #fff;
  --light-pink: #fff4df;
  --shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  --ser-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
}
html {
  font-size: 62.5%;
  /* 1rem = 10px */
}
body {
  font-family: "Open Sans", sans-serif;
}
a {
  color: var(--purple);
  text-decoration: none;
}
a:hover {
  color: var(--hover-purple) !important;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
section {
  padding: 6rem 0;
}
.sec-title {
  text-align: center;
  padding: 3rem 0;
  position: relative;
}
.sec-title h2 {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding-bottom: 0;
  color: var(--grey-dark);
  position: relative;
  z-index: 2;
}
.sec-title span {
  position: absolute;
  top: 3rem;
  color: var(--bg-grey);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 5.2rem;
  text-transform: uppercase;
  line-height: 0;
}
.sec-title p {
  font-size: 1.6rem;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
/*----------------------------
    Header Section Start
------------------------------*/
.navbar {
  background-color: var(--dark-black);
  height: 8rem;
}
.navbar-nav li {
  padding: 0 3rem;
}
.navbar-nav li a {
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.4s linear;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--hover-purple);
}
/*----------------------------
    Hero Section Start
------------------------------*/
.hero-sec {
  width: 100%;
  height: 100vh;
  background: url("Images/hero.jpg") top right;
  background-size: cover;
  z-index: -1;
  position: relative;
}
.hero-sec::before {
  content: "";
  background: var(--bg-black);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.hero-sec .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
}
.hero-sec h1 {
  margin-bottom: 1rem;
  font-size: 6.4rem;
  font-family: "Satisfy", serif;
  color: var(--white);
}
.hero-sec h2 {
  color: var(--white);
  margin-bottom: 5rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.hero-sec .btn-scroll {
  transition: 0.4s;
  color: var(--white);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}
.hero-sec .btn-scroll i {
  font-size: 4.8rem;
}
.hero-sec .btn-scroll:hover {
  color: var(--hover-purple);
}
@keyframes up-down {
  0% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}
/*----------------------------
    About Section Start
------------------------------*/
.about {
  font-size: 1.6rem;
}
.about .image {
  background: url("Images/about.jpg") center center no-repeat;
  background-size: cover;
  min-height: 50rem;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.about .content ul strong {
  margin-right: 1rem;
}
.about .content ul i {
  font-size: 1.6rem;
  margin-right: 0.5rem;
  color: var(--purple);
  line-height: 0;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .count-box {
  width: 100%;
  display: flex;
  align-items: center;
}
.about .content .count-box i {
  display: block;
  font-size: 6rem;
  line-height: 0;
}
.about-logo {
  align-self: flex-start;
  padding-top: 3.3rem;
}
.about .content .count-box span {
  font-size: 3.6rem;
  line-height: 3rem;
  display: block;
  font-weight: 700;
  color: var(--grey-dark);
  margin-left: 3rem;
}
.about .content .count-box p {
  padding: 1.5rem 0 0 0;
  margin: 0 0 0 3rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  color: var(--grey-dark);
}
.about .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 2rem;
  color: var(--grey-dark);
  font-size: 1.5rem;
  font-family: "Satisfy", serif;
  transition: ease-in-out 0.3s;
}
.about .content .count-box a:hover {
  color: var(--purple);
}
.about .skills-content {
  margin-top: 3rem;
}
.about .skills-content .progress {
  height: 6rem;
  display: block;
  background: none;
  border-radius: 0;
}
.about .skills-content .progress .skill {
  padding: 1rem 0;
  margin: 0 0 0.6rem 0;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: var(--grey-dark);
}
.about .skills-content .progress .skill .val {
  float: right;
  font-style: normal;
}
.about .skills-content .progress-bar {
  height: 1.3rem;
}
.about .skills-content .progress .skill {
  font-size: 1.6rem;
}
.progress .progress-bar {
  background: var(--purple) !important;
}
/*----------------------------
    Resume Section Start
------------------------------*/
.resume {
  font-size: 1.6rem;
}
.resume .resume-title {
  font-size: 2.6rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--grey-dark);
}
.resume .resume-item {
  padding: 0 0 2rem 2rem;
  margin-top: -0.2rem;
  border-left: 0.2rem solid var(--hover-purple);
  position: relative;
}
.resume .resume-item h4 {
  line-height: 1.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--purple);
  margin-bottom: 1rem;
}
.resume .resume-item h5 {
  font-size: 1.6rem;
  background: var(--bg-grey);
  padding: 0.5rem 1.5rem;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 1rem;
}
.resume .resume-item ul {
  padding-left: 2rem;
}
.resume .resume-item ul li {
  padding-bottom: 1rem;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 5rem;
  left: -9px;
  top: 0;
  background: var(--white);
  border: 0.2rem solid var(--purple);
}
/*----------------------------
    Services Section Start
------------------------------*/
.services .icon-box {
  padding: 3rem;
  position: relative;
  overflow: hidden;
  background: var(--white);
  box-shadow: var(--ser-shadow);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 0.1rem solid var(--white);
}
.services .icon {
  margin: 0 auto 2rem auto;
  padding-top: 1.7rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 7.2rem;
  height: 7.2rem;
  background: var(--light-pink);
}
.services .icon i {
  font-size: 3.6rem;
  line-height: 1;
  color: var(--purple);
}
.services .title {
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}
.services .title a {
  color: var(--dark-black);
  transition: 0.3s;
}
.services .description {
  font-size: 1.5rem;
  line-height: 2.8rem;
  margin-bottom: 0;
}
.services .icon-box:hover {
  border-color: var(--purple);
}

.services .icon-box:hover .title a {
  color: var(--purple);
}
/*----------------------------
    Testimonials Section Start
------------------------------*/
.testimonials {
  padding: 8rem 0;
  background: url("Images/testimonials-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(14, 16, 17, 0.7);
}
.testimonials .section-header {
  margin-bottom: 4rem;
}
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  text-align: center;
  color: var(--white);
}
.testimonials .testimonial-item .testimonial-img {
  width: 10rem;
  border-radius: 50%;
  border: 0.6rem solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
  color: var(--white);
}
.testimonials .testimonial-item h4 {
  font-size: 1.4rem;
  color: #ddd;
  margin: 0 0 1.5rem 0;
}
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 2.6rem;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -0.5rem;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -0.5rem;
  position: relative;
  top: 1rem;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 1.5rem auto;
  color: #eee;
}
.testimonials .swiper-pagination {
  margin-top: 2rem;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--purple);
}
/*----------------------------
    Portfolio Section Start
------------------------------*/
.nav-pills {
  justify-content: center;
  font-size: 2rem;
  gap: 2.5rem;
}
.nav-pills .nav-link {
  color: var(--dark-black);
}
.nav-pills .nav-link:focus,
.nav-pills .nav-link:active,
.nav-pills .nav-link:hover {
  background-color: var(--purple);
}

.nav-pills .nav-link.active {
  background-color: var(--purple);
}
.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}
.portfolio .portfolio-img img {
  transition: all 0.5s ease-in-out;
}
.portfolio .portfolio-img:hover img {
  transform: scale(1.1);
}
/*----------------------------
  Subscription Section Start
------------------------------*/
.pricing .box {
  padding: 2rem;
  background: #fff;
  text-align: center;
  box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.pricing h3 {
  margin: -2rem -2rem 2rem -2rem;
  padding: 2rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}
.pricing h4 {
  font-size: 3.6rem;
  color: var(--purple);
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2rem;
}
.pricing h4 sup {
  font-size: 2rem;
  top: -1.2rem;
  left: -0.3rem;
}
.pricing h4 span {
  color: #bababa;
  font-size: 1.6rem;
  font-weight: 300;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 2rem;
  font-size: 1.4rem;
}
.pricing ul li {
  padding-bottom: 1.6rem;
}
.pricing ul i {
  color: var(--purple);
  font-size: 1.8rem;
  padding-right: 0.4rem;
}
.pricing ul .throgh {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .btn-wrap {
  margin: 2rem -2rem -2rem -2rem;
  padding: 2rem 1.5rem;
  background: #f8f8f8;
  text-align: center;
}
.pricing .btn-buy {
  background: var(--purple);
  display: inline-block;
  padding: 0.8rem 3.5rem;
  border-radius: 0.4rem;
  color: var(--white);
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.pricing .btn-buy:hover {
  background: rgba(242, 233, 233, 0.801);
  color: var(--purple) !important;
}

.pricing .featured h3 {
  color: var(--white);
  background: var(--purple);
}
.pricing .advanced {
  width: 20rem;
  position: absolute;
  top: 1.8rem;
  right: -6.8rem;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 1.4rem;
  padding: 0.1rem 0 0.3rem 0;
  background: var(--purple);
  color: var(--white);
}
/*----------------------------
   Contact Section Start
------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 3rem rgba(214, 215, 216, 0.6);
  padding: 2rem 0 3rem 0;
}
.contact .info-box i.fa-solid {
  font-size: 2.4rem;
  color: var(--purple) !important;
  border-radius: 50%;
  padding: 1.5rem;
  background: var(--light-pink);
}
.contact .info-box h3 {
  font-size: 2rem;
  color: #777777;
  font-weight: 700;
  margin: 1rem 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 2.4rem;
  font-size: 1.4rem;
  margin-bottom: 0;
}
.contact .social-links {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.contact .social-links a {
  font-size: 1.8rem;
  display: inline-block;
  color: var(--purple);
  line-height: 1;
  margin: 0 0.8rem;
  transition: 0.3s;
  padding: 1.4rem;
  border-radius: 5rem;
  border: 0.1rem solid #dde1e4;
}
.contact .social-links a:hover {
  color: var(--white) !important;
  border-color: var(--purple);
  background: var(--purple);
}
.contact .form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 2.7rem;
}
.contact .form input,
.contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 1.4rem;
}
.contact .form input {
  padding: 1rem 1.5rem;
}
.contact .form textarea {
  padding: 1.2rem 1.5rem;
}
.contact .form button[type="submit"] {
  background: var(--purple);
  border: 0;
  padding: 1rem 2.4rem;
  font-size: 1.6rem;
  color: var(--white);
  transition: 0.4s;
  border-radius: 0.5rem;
}
.contact .form button[type="submit"]:hover {
  background: rgba(242, 233, 233, 0.801);
  color: var(--purple) !important;
}
/*----------------------------
   Footer Section Start
------------------------------*/
#footer {
  background: url("Images/footer-bg.jpg") top center no-repeat;
  background-size: cover;
  color: var(--white);
  font-size: 1.4rem;
  text-align: center;
  padding: 8rem 0;
  position: relative;
}
#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
#footer .container {
  position: relative;
}
#footer h3 {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--white);
  position: relative;
  font-family: "Satisfy", serif;
  padding: 0;
  margin: 0 0 1.5rem 0;
}
#footer p {
  font-size: 1.5rem;
  font-style: italic;
  padding: 0;
  margin: 0 0 4rem 0;
}
#footer .social-links {
  margin: 0 0 4rem 0;
}
#footer .social-links a {
  font-size: 1.8rem;
  display: inline-block;
  background: var(--purple);
  color: var(--white);
  line-height: 1;
  padding: 0.8rem 0;
  margin-right: 0.4rem;
  border-radius: 50%;
  text-align: center;
  width: 3.6rem;
  height: 3.6rem;
  transition: all 0.5s linear;
}
#footer .social-links a:hover {
  background: var(--white);
  color: var(--purple) !important;
}
#footer .copyright {
  margin: 0 0 0.5rem 0;
}
#footer .credits {
  font-size: 1.6rem;
}
/*----------------------------
   Media queries  Start
------------------------------*/
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 50%;
  }
  .navbar-toggler {
    margin: auto;
  }
  .navbar-toggler-icon {
    font-size: 3rem;
    background-color: var(--purple);
  }
  .navbar-nav li a {
    text-align: center;
    background-color: var(--white);
    color: var(--dark-black);
    padding: 5rem 0;
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 420px) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 380px) {
  html {
    font-size: 30%;
  }
}
